<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
        integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- Inizia top -->
        <div class="top"></div>
        <div class="container">
            <div class="row">
                <div class="violet">
                    <div class="avatar_io">
                        <img src="./img/avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>
                    <div class="iconsRight">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- Inizia user top -->
                <div class="userTop">
                    <div class="avarSelected">
                        <img :src="'./img/avatar' + contacts[active].avatar + '.jpg'" alt="">
                        <div>
                            <span>{{contacts[active].name}}</span>
                            <small>Ultimo accesso oggi alle 12:00</small>
                        </div>
                    </div>
                    <div class="iconsRight">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>

            <!-- Iinizia lista contatti -->
            <div class="row2">
                <div class="listContacts">
                    <div class="notifiche">
                        <div class="squareWhite">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notificheRight">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="input">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="squareInput">
                            <input type="text" class="no-outline" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class="users">
                        <div class="user" :class="index === active ? 'active' : ''" v-for="(user, index) in contacts" @click="clickUser(index)">
                            <img :src="'./img/avatar'+user.avatar+'.jpg'" alt="">
                            <div class="name">
                                {{user.name}}
                                <br>
                                <small>Ultimo messaggio inviato</small>
                            </div>
                            <div class="ora">
                                <small>12.00</small>
                            </div>   
                        </div>
                    </div>
                </div>

                <!-- Inizia chat messages -->
                <div class="chatMessages">
                    <div class="messaggi">
                        <div :class="user.status == 'sent'? 'msgRight' : 'msgLeft'" v-for="(user, index) in contacts[active].messages">
                            <div :class="user.status == 'sent'? 'msgSent' : 'msgReceived'">
                                {{user.message}}
                                <div class="textLeft">
                                    <small v-if="user.status == 'sent'">{{user.date}}</small>
                                    <small v-else="user.sent !== 'sent'">{{user.date}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Inizia write chat -->
                    <div class="write">
                        <div style="padding: 0px 30px;">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="containerInput">
                                <input type="text"  @keyup.enter="addToMessage" v-model="newMesage.message" class="no-outline" placeholder="Scrivi un messaggio">
                        </div>
                        <div style="padding: 0px 30px;">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./app.js"></script>
</body>

</html>